{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle collection' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center text-primary my-5">Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            <div>
                <h3>Bibliothèque de Yann</h3>
                <a href="{{ path('app_libraries_show', {'firstName': 'Yann'}) }}">
                    <img class="img-fluid"
                            src="{{ asset('build/images/biblio.jpg') }}" alt="Bibliothèque"></a>
            </div>
            <div>
                <h3 class="mt-5">Idées cadeaux pour Yann</h3>
                <a href="{{ path('app_giftlists_show', {'firstName': 'Yann'}) }}">
                    <img class="img-fluid" src="{{ asset('build/images/cadeau.jpg') }}" alt="Cadeau"> </a>
            </div>

        </div>
        <div class="col-4 text-center">
            <div>
                <h3>Bibliothèque de Thomas</h3>
                <a href="{{ path('app_libraries_show', {'firstName': 'Thomas'}) }}"> <img class="img-fluid"
                            src="{{ asset('build/images/biblio.jpg') }}" alt="Bibliothèque"></a>
            </div>
            <div>
                <h3 class="mt-5">Idées cadeaux pour Thomas</h3>
                <a href="{{ path('app_giftlists_show', {'firstName': 'Thomas'}) }}">
                    <img class="img-fluid" src="{{ asset('build/images/cadeau.jpg') }}" alt="Cadeau"> </a>            </div>
        </div>
        <div class="col-4 text-center">
            <div>
                <h3>Bibliothèque de Julie</h3>
                <a href="{{ path('app_libraries_show', {'firstName': 'Julie'}) }}"> <img class="img-fluid"
                            src="{{ asset('build/images/biblio.jpg') }}" alt="Bibliothèque"></a>
            </div>
            <div>
                <h3 class="mt-5">Idées cadeaux pour Julie</h3>
                <a href="{{ path('app_giftlists_show', {'firstName': 'Julie'}) }}">
                    <img class="img-fluid" src="{{ asset('build/images/cadeau.jpg') }}" alt="Cadeau"> </a>            </div>
        </div>
    </div>
{% endblock %}
