{% extends 'layouts/base.html.twig' %}

{% block title author.fullname %}

{% block body %}
    {% set bookNumber = author.books | length %}

    <div class="col-md-10 mx-auto">
        <div class="bg-white rounded shadow collection">
            <div class="pt-3">
                <h1 class="text-center text-primary">
                    {{ author.fullname }}
                </h1>
                <p class="text-muted text-center"><small> Ajouté⋅e en base de données le
                        <time datetime="{{ author.createdAt|date('Y-m-d H:i:s') }}">{{ author.createdAt|date('Y-m-d') | date('m/d/Y') }} </time></small></p>
            </div>
            <div class="text-center pb-3">
                <a href="{{ path('app_authors_edit', {id: author.id}) }}" class="btn btn-light">Editer</a>
                <a href="#"
                   onclick="event.preventDefault(); confirm('Voulez-vous supprimer cet⋅te auteur⋅trice?') && document.getElementById('js-author-delete-form').submit();"
                   class="btn btn-light">Supprimer</a>
                <form id="js-author-delete-form" action="{{ path('app_authors_delete', {id: author.id}) }}"
                      method="post"
                      style="display: none">
                    <input type="text" name="csrf_token" value="{{ csrf_token('author_deletion_' ~ author.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </div>

            {% if bookNumber > 0 %}
            <div class="d-flex flex-wrap bg-white shadow rounded">
                {% for row in author.books|batch(3) %}
                    <div class="mt-1 pb-1 col-xl-4 col-md-12">
                        {% for book in row %}
                            {% include 'layouts/partials/_bookcard.html.twig' %}
                            <a href="#"
                               onclick="event.preventDefault(); confirm('Voulez-vous supprimer ce livre?') && document.getElementById('js-author-book-delete-form').submit();"
                               class="btn btn-light">Supprimer</a>
                            <form id="js-author-book-delete-form" action="{{ path('app_authors_book_remove', {'author_id': author.id, 'book_id':book.id}) }}"
                                  method="post"
                                  style="display: none">
                                <input type="text" name="csrf_token" value="{{ csrf_token('author_book_deletion_' ~ author.id) }}">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
                {% else %}
                    <div class="text-center mt-5 h1">
                        Aucun livre pour cet.te auteur.trice !
                    </div>
                {% endif %}
        </div>
    </div>

{% endblock %}