<div class="mt-3 mx-auto" style="width: 20rem;">
    <a href="{{ path('app_gifts_show', {'id':gift.id}) }}" class="text-decoration-none text-dark">
        <img class="img-fluid"
             src="{{ (gift.imageName ? vich_uploader_asset(gift) : asset('build/images/cadeau.jpg')) | imagine_filter('squared_thumbnail_medium') }}"
             alt="{{ gift.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ gift.name }}</a></h5>
    <p class="card-subtitle mb-2 text-muted">
        {% if gift.price %}
        {{ gift.price }} €
        {% endif %}

    </p>
    <p class="card-text text-muted">{{ gift.description }}</p>
</div>
</div>