{% extends 'layouts/base.html.twig' %}

{% block title 'Nouvelle collection' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Ajouter un livre à la bibliothèque de {{ user.firstName }}</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-inline">
                <input type="submit" value="{{ submitButtonText ?? 'Ajouter le livre' }}" class="btn btn-primary mx-auto" formnovalidate>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}