{% extends 'layouts/base.html.twig' %}

{% block title gift.name %}

{% block body %}
    <div class="col-md-10 mx-auto">
        <div class="bg-white rounded shadow collection">
            <div class="pt-3">
                <h1 class="text-center text-primary">
                    {{ gift.name }}
                </h1>
                <p class="text-muted text-center"><small> Ajouté⋅e en base de données le
                        <time datetime="{{ gift.createdAt|date('Y-m-d H:i:s') }}">{{ gift.createdAt|date('d/m/Y') }} </time></small></p>
            </div>
            <div class="text-center">
                <img class="img-fluid"
                     src="{{(gift.imageName ? vich_uploader_asset(gift) : asset('build/images/cadeau.jpg')) | imagine_filter('squared_thumbnail_medium') }}"
                     alt="{{ gift.name}}">
            </div>
            <div class="text-center pt-3">
                <a href="{{ path('app_gifts_edit', {id: gift.id}) }}" class="btn btn-light">Edit</a>
                <a href="https://google.com"
                   onclick="event.preventDefault(); confirm('Voulez-vous supprimer ce livre?') && document.getElementById('js-gift-delete-form').submit();"
                   class="btn btn-light">Delete</a>
                <form id="js-gift-delete-form" action="{{ path('app_gifts_delete', {id: gift.id}) }}" method="post"
                      style="display: none">
                    <input type="text" name="csrf_token" value="{{ csrf_token('gift_deletion_' ~ gift.id) }}">
                    <input type="hidden" name="_method" value="DELETE">
                </form>
            </div>
        </div>
    </div>
    </div>


{% endblock %}